	<div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">	
    <ul class="nav nav-pills nav-stacked">
      <li  [routerLinkActive]="['active']">
        <a routerLink="/dashboard">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li  [routerLinkActive]="['active']">
       <a href="#" class="dropdown-toggle">
          <i class="fa fa-users"></i>
          <span>Users</span>
          <i class="fa fa-chevron-circle-right drop-icon"></i>
        </a>
        <ul class="submenu">
          <li>
            <a routerLink="/users">
              User list
            </a>
          </li>
          <li>
            <a href="user-profile.html">
              User profile
            </a>
          </li>
        </ul>
        	
      </li>
    </ul>
  </div>